.footer{
    margin: 50px 170px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top{
    display:flex ;
    justify-content: space-between;
}
.top_left p{
    font-size: 20px;
    max-width: 400px;

}
.top_left img{
    mix-blend-mode: lighten;
    width: 100px;
    filter: brightness(2);
}
.top_right {
    display: flex;
    align-items: center;
    gap: 35px;
}
.email_input{
    display: flex;
    gap: 35px;
    padding: 20px 30px ;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
}
.email_input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}
.subscribe{
    font-size: 20px;
    padding: 15px 35px ;
    border-radius: 50px;
    background: linear-gradient(264deg, #fc00ff -5.09%, #00dbde 106.28%);
    cursor: pointer;
    transition: 0.3S;
}
.bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.bottom_right{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}
.email_input:hover{
    border: 2px solid white;
}
.subscribe:hover{
    transform: scale(1.1);
    transition: 0.3S;
}